VITE_API_URL=http://localhost:4000

PGHOST=127.0.0.1
PGPORT=5432
PGUSER=starline_user
PGPASSWORD=starlinepass123
PGDATABASE=starline

API_PORT=4042
JWT_SECRET=replace-me

DEFAULT_ADMIN_EMAIL=admin@starlineb.com
DEFAULT_ADMIN_PASSWORD=Admin@2814
DEFAULT_ADMIN_NAME=Starline Admin
